/*Загрузка нового шрифта с сайта https://fonts.google.com */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;1,300&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Оформление параграфов */
.default {
    color: darkorchid;
    font-family: "Times New Roman";
    font-size: 24px;
}

body {
    /*background-color: floralwhite;*/
    /*background-image: url("images/101 Backgrounds/101 Jpegs/20.jpg");*/
    /*background-repeat: no-repeat;*/
    /*background-attachment: scroll;*/
    /*background-position: right top;*/

    /* Запись в одну строчку*/
    background: floralwhite url("images/101 Backgrounds/101 Jpegs/18.jpg") repeat-x top left;
}

#page {
    width: 960px;
    margin: 0 auto;
}

.red {
    font-weight: bold;
    color: red;
}

.blue {
    font-weight: bolder;
    color: blue;
}

.blue {
    font-size: 22px;
}

.special_p {
    margin-top: 400px;
    color: rgba(111, 210, 198, 0.88);
    /*Устанавливает жирность текста*/
    font-weight: bold;
    /*Устанавливает выравнивание текста по ширине*/
    text-align: justify;
    /*Текст становиться подчёркнутым*/
    text-decoration: underline;
    /*Все буквами становиться заглавными*/
    text-transform: uppercase;
    /*добавляет к первому строку параграфа 30 px*/
    text-indent: 30px;
    /*добавляет пространство между буквами 5 px*/
    letter-spacing: 5px;
    /*добавляет пространство между словами 10 px*/
    word-spacing: 10px;
    /*устанавливает какой высоты будет строка*/
    line-height: 30px;
    /*устанавливает формат параграфа*/
    font-family: 'Merriweather', sans-serif;
    /*устанавливает наклон шрифта*/
    font-style: italic;
    /*трансформирует прописные буквы в заглавные не изменяя их размера*/
    font-variant: small-caps;
}

#styles li {
    color: black;
    font-family: 'Merriweather', sans-serif;
    /*трансформирует точку в круг*/
    list-style-type: circle;
    /*!*трансформирует точку в квадрат*!*/
    /*list-style-type: square;*/
    /*!*трансформирует точку в пустоту*!*/
    /*list-style-type: square;*/
    /*!*трансформирует точку в нумерованный список*!*/
    /*list-style-type: decimal;*/
    /*!*трансформирует точку в римские цифры*!*/
    /*list-style-type: lower-roman;*/
    /*!*трансформирует точку в английские буквы*!*/
    /*list-style-type: lower-alpha;*/
    /*!*трансформирует точку в английские буквы (Заглавные)*!*/
    /*list-style-type: upper-alpha;*/

    /*трансформирует точку в изображение*/
    list-style-image: url("images/icons8-xbox-30.png");
    /*размещает изображение внутри границ*/
    list-style-position: inside;
    border: 1px solid black;
    padding: 5px;

    /*упрощает форму записи 3ёъ строк
    1)  list-style-type: circle;
    2)  list-style-image: url("images/icons8-xbox-30.png");
    3)  list-style-position: inside;
    */
    /*list-style: circle url("images/icons8-xbox-30.png") inside;*/
}

/*При наведении меняет фон пункта*/
#styles li:hover {
    background: red;
}

#navigation {
    height: 65px;
}

#navigation ul li {
    /*Сдвигает элемент относительно его обычного положения*/
    position: relative;
    /*Сдвигает элемент влево*/
    float: left;
}

#navigation ul li a {
    color: black;
    /*Отступ сверху и слева и права (15 px)*/
    padding: 0 15px;
    font-family: "Merriweather", sans-serif;
    /*Отмена подчёркивания*/
    text-decoration: none;
    line-height: 65px;
    display: block;
    height: 65px;
}

#navigation ul li a:hover {
    /*Цвет при наведении*/
    background: #7f3d3d;
    /*При наведении пункт будет подчёркнут*/
    text-decoration: underline;
}

#navigation .dropdown {
    position: absolute;
    top: 100%;
    width: 150px;
    background: #575757;
    display: none;
}

#navigation li:hover .dropdown {
    display: block;
}

#navigation .dropdown li {
    width: 100%;
    height: 45px;
}

#navigation .dropdown li a {
    line-height: 45px;
    height: 45px;
}

#header {
    height: 204px;
    position: relative;
}

.logo {
    display: block;
    /*Ширина блока становиться контенту, который там размещается*/
    position: absolute;
    top: 42px;
    left: 0;
}
.search{
    position: absolute;
    right: 0;
    top: 90px;
}


