/*Придумайте селектор, который выберет абзацы <p> внутри дивов <div>.*/
div p {
    color: #ee0000;
}

/*Придумайте селектор, который выберет все <h2> внутри дивов <div>.*/
div h2 {
    color: #ee0000;
}

/*Придумайте селектор, который выберет все абзацы <p> из элемента с id=test.*/
#test {
    color: #00ee00;
}

/*Придумайте селектор, который выберет все <h2> из элемента с id=test.*/
.bbb {
    font-style: italic;
}

p.bbb {
    font-family: Arial;
}

h2.bbb {
    font-family: Verdana;
}

p#test.bbb {
    color: orange;
}

.bbb, .xxx {

}