/*Придумайте селектор, который выберет абзацы <p> внутри дивов <div>.*/
div p {
    color: #ee0000;
}

/*Придумайте селектор, который выберет все <h2> внутри дивов <div>.*/
div h2 {
    color: #ee0000;
}

/*Придумайте селектор, который выберет все абзацы <p> из элемента с id=test.*/
p #test {
    color: #00ee00;
}

/*Придумайте селектор, который выберет все <h2> из элемента с id=test.*/
h2 #test {
    color: #00ee00;

}

/*  Выберите все элементы с классом bbb. */
.bbb {
    font-style: italic;
}

/*  Выберите все элементы с классом bbb из элемента с id=test. */
#test.bbb {
    font-size: 50px;
}

/* Выберите все абзацы <p> с классом bbb. */
p.bbb {
    font-family: Arial;
}

/* Выберите все <h2> с классом bbb. */
h2.bbb {
    font-family: Verdana;
}

/* Выберите все абзацы <p> с классом bbb из элемента с id=test. */
p#test.bbb {
    color: orange;
}

/*Выберите все элементы с классом bbb и элементы с классом xxx одновременно. */
.bbb, .xxx {

}

/* Выберите все абзацы <p> с классом bbb и <h2> с классом xxx одновременно. */
p.bbb, h2.xxx {

}

/*Выберите все абзацы <p> с классом bbb из id=test и все абзацы <p> с классом xxx из id=test одновременно. */
p#test.bbb, p#test.xxx{

}

/* Выберите все элементы из класса fff. */
.fff{

}

/*Выберите все абзацы <p> из класса fff. */
p.fff {

}

/* Выберите все абзацы <h2> с классом fff. */
h2.fff {

}

/* Выберите все элементы с классом bbb из класса fff */
.fff .bbb{
font-size: 15px;
     color: aqua;
}

/* Выберите все <h2> с классом bbb из класса fff */
.fff .bbb h2{
    color: deeppink;
}
