h1 {
    color: #0000ff;
    text-align: center;
    width: 400px;

}
h2 {
    color: #0000ee;
    text-align: center;
    width: 400px;

}
p {
    text-indent: 30px;
    font: 16px/30px Arial;
    width: 400px;
    text-align: justify;
}

b {
    color: #ee0000;
}

i {
    color: #0000ee;
}