p#one a:link, p#one a:visited {
    color: #0000ee;
    text-decoration: none;
}

p#one a:hover {
    color: #009600;
    text-decoration: underline;
}

p#two a:link, p#two a:visited {
    color: #ee0000;
    text-decoration: underline;
}

p#two a:hover {
    color: #0000ee;
    text-decoration: line-through;
}

p#three a:link, p#three a:visited {
    color: black;
    text-decoration: none;
}

p#three a:hover {
    color: #ee0000;
    text-decoration: overline;
}